.bg {
	background-image: url('/space-bg.jpg');
	background-size: cover;
	background-repeat: repeat;
	width: auto;
	height: 98vh;
}
.bgOnTop {
	background-color: rgba(0, 0, 0, 0.3);
	background-size: cover;
	background-repeat: repeat;
	width: auto;
	height: 98vh;
}
