.bg {
	background-image: url('/space-bg.jpg');
	background-size: cover;
	background-repeat: repeat;
	width: 100vw; /* or another appropriate width */
	height: 100vh; /* or another appropriate height */
}
